/* index slyles */

html{
    background-color: #37404f;
    overflow: hidden;
}


.body_content_center
{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.text {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}


/*ldza chart*/


.gerenal_nav_menu_skel 
{
    background-color: #37404f;
    color: #fff;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;

}

.airportopt 
{
    background-color: #37404f;
    color: white;
    border: none;
}
.airport_charts_chapters 
{
    background-color: #37404f;
    color: white;
    border: none;
}

.view_contant
{
    margin-left: -9px;
    margin-bottom: -4px;
    z-index: -1;

}

.frclass 
{
    background-color: #fff;
    border: none;
    width: 101vw;
    height: 94.2vh;
}

.lower_menu_skel 
{
    background-color: #37404f;
    color: #fff;
    margin-left: -9px;
    width: 100vw;
}

.btclass 
{
    background-color: #37404f;
    color: white;
    border: none;
}


/* menus */

.refmenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.comenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.starmenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.apprmenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.taximenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.sidmenu_list 
{
    width: 300px;
    height: 400px;
    display: none;
    background-color: #37404f;
    position: absolute;
    z-index: 2;
    overflow: auto;
}


.dropdown_menu_toggle
{
    width: 300px;
    height: 400px;
    background-color: #37404f;
    display: none;
    position: absolute;
    z-index: 2;
    margin-left: -8px;
}


.airport_charts_chapters_clicked
{
    background-color: blue;
}


/* decorate links for charts*/

.taxilinks
{
    text-decoration: none;
    color: #fff;

}

.starlinks
{
    text-decoration: none;
    color: #fff;

}

.apprlinks
{
    text-decoration: none;
    color: #fff;

}

.sidslinks
{
    text-decoration: none;
    color: #fff;

}

.hinttext 
{
    text-align: center;
    color: white;

}
.runw 
{
    color: lightgreen;
    text-align: center;

}
.pagehint 
{
    text-align: center;
    background-color: yellow;
    color: black;

}

.airport_options_list
{
    background-color: #37404f;
    display: none;
    position: absolute;
    z-index: 2;
    margin-left: -8px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: auto;
    height: 300px;
}


.airportopt_clicked
{
    background-color: blue;
}

.dropdown_menu_list_show
{
    display: block;
}


.texthint 
{
    color: black;
    text-align: center;
    background-color: orange;
}
.origin_airport 
{
    text-decoration: none;
    color: white;
}
.destination_airport 
{
    text-decoration: none;
    color: #fff;
}

.find_airport_input_field
{
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}


.find_airport
{
    display: flex;
    flex-direction: row;
}

.material-symbols-outlined
{
    color: #fff;
    cursor: pointer;
}

/* flights page */

.title_container 
{
    background-color: #37404f;
    color: #fff;
    text-align: center;

}

.actions_container 
{
    margin-top: 10px;
    align-items: center;
}

.actions {
    background-color: #37404f;
    color: #fff;
    border: none;
}

/*List of flights */

.flightlogscontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}
.data {
    position: absolute;
    background-color: yellow;
    color: black;
}
.flightlogdepature {
    position: absolute;
    color: #fff;
}
.flightlogarrival {
    position: absolute;
    color: #fff;
}
.flightlogtimeenroute {
    position: absolute;
    color: #fff;
}


/* create new flight page */

.New_flight_container 
{
    text-align: center;
    height: 100%;
    width: 100%;

}

.new_flight_items {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#depid
{
    position: absolute;
}

#arrid
{
    margin-top: 30px;
    position: absolute;
}

#gf
{
    width: 70px;
}



.newflight_text 
{
    color: #fff;

}

.textmeny {
    height: 250px;
    width: 300px;
}


.warn
{
    border-color: red;

}

.routehint {
    margin-top: 40px;
    color: #fff;
}


.sc {
    color: #fff;
}



/* acs page */

.myacs_container
{
    text-align: center;
    font-size: 40px;
    color: lime;
}

.subtext_acs_container
{
    color: #fff;
}



/*RWY INFO PAGE*/

.rwyinf_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
}

.rwy_number {
    background-color: orange;
    color: black;
}

.crs {
    color: #fff;
}
.gs {
    color: #fff;
}
.appr_types {
    color: #fff;
}
.appr_type_rwy {
    color: #fff;
}
.elev {
    color: #fff;
}
.rwy {
    color: #fff;
}
.tch {
    color: #fff;
}

/* table style */
#tbl
{
    color: #fff;
}